<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weplay.game">

    <application
        android:name=".GameApplication"
        android:allowBackup="true"
        android:icon="@drawable/plane"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameActivity" />
        <meta-data
            android:name="WE_PLAY_APP_KEY"
            android:value="weplay_game_plane" />
    </application>
</manifest>